<template>
    <form @submit.prevent="handleSubmit" class="p-4 pb-5">
        <h1 class="mb-4 text-center">BOCASAY_</h1>
        <h2 class="h3 mb-5 fw-normal text-center">Forgot password</h2>

        <div class="form-floating">
            <input v-model="email" type="email" class="form-control" id="email" placeholder="name@example.com">
            <label class="h4" for="email">Email address</label>
        </div>
        <br>
        <button class="btn btn-lg btn-primary" type="submit">Submit</button>
    </form>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'Forgot',
        data() {
            return {
                email: '',
            }
        },
        methods: {
            async handleSubmit(){
                const data = {
                    email: this.email,
                };
                await axios.post('/api/forgot', data)
                    .then(
                        res => {
                            console.log(res);
                            this.$router.push('/login');
                        }
                    ).catch(
                        err => {
                            console.log(err);
                            this.$router.push('/login');
                        }
                    );
            }
        }
    }
</script>