<template>
    <div class="p-5">
        <h1 v-if="user">Hello, {{ user.name }}</h1>
        <h1 v-if="!user">Hello, Master, you're not logging</h1>
        <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser’s viewport.</p>
        <a class="btn btn-lg btn-primary" href="#" role="button">{{ user.email }}</a>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        name: 'Home',
        computed: {
            ...mapGetters(['user'])
        }
    }
</script>