<template>
    <!-- Sing in  Form -->
    <section class="sign-in">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="images/signin-image.jpg" alt="sing up image"></figure>
                <router-link to="register" class="signup-image-link">Create an account</router-link>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Login</h2>
                <form @submit.prevent="handleSubmit" class="register-form">
                    <div class="form-group">
                        <label for="username"><i class="zmdi zmdi-email material-icons-name"></i></label>
                        <input v-model="email" type="text" name="your_name" id="email" placeholder="Email address" required/>
                    </div>
                    <div class="form-group">
                        <label for="password"><i class="zmdi zmdi-lock"></i></label>
                        <input v-model="password" type="password" name="password" id="password" placeholder="Password" required/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                    </div>
                    <div class="form-group form-button">
                        <button class="form-submit">Log in</button>
                    </div>
                </form>
                <div class="social-login">
                    <span class="social-label">Or forgot password ? </span>
                    <router-link to="forgot" class="text-decoration-none"> Click here </router-link>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'Login',
        data() {
            return {
                email: '',
                password: '',
            }
        },
        methods: {
            async handleSubmit(){
                const data = {
                    email: this.email,
                    password: this.password,
                };
                await axios.post('/api/login', data)
                    .then(
                        res => {
                            localStorage.setItem('token', res.data.token);
                            this.$store.dispatch('user', res.data.user);
                            this.$router.push('/');
                        }
                    ).catch(
                        err => {
                            console.log(err);
                            this.$router.push('/login');
                        }
                    );
            },
        }
    }
</script>