<template>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <router-link class="navbar-brand border-light" to="/">BOCASAY_</router-link>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <router-link class="nav-link active" aria-current="page" to="/">Home</router-link>
                    </li>
                </ul>
                <div class="d-flex" v-if="!user">
                    <router-link class="btn btn-outline-success me-2" to="/login">Login</router-link>
                    &nbsp;
                    <router-link class="btn btn-success" to="/register">Sign-up</router-link>
                </div>
                <div class="d-flex" v-if="user">
                    <a href="javascript:void(0)" @click="handleClick" class="btn btn-outline-success me-2" >Logout</a>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        name: 'Navbar',
        methods: {
            handleClick(){
                localStorage.removeItem('token');
                this.$store.dispatch('user', null);
                this.$router.push('/login');
            }
        },
        computed: {
            ...mapGetters(['user'])
        }
    }
</script>