<template>
    <form @submit.prevent="handleSubmit" class="p-4 pb-5">
        <h1 class="mb-4 text-center">BOCASAY_</h1>
        <h2 class="h3 mb-5 fw-normal text-center">Reset password</h2>

        <div class="form-floating">
            <input v-model="password" type="password" class="form-control" id="password" required>
            <label class="h4" for="password">Password</label>
        </div>
        <br>
        <div class="form-floating">
            <input v-model="password_confirm" type="password" class="form-control" id="password_confirm" required>
            <label class="h4" for="password_confirm">Confirm password</label>
        </div>
        <br>
        <button class="btn btn-lg btn-primary" type="submit">Submit</button>
    </form>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'Reset',
        data(){
            return {
                password: '',
                password_confirm: ''
            }
        },
        methods: {
            async handleSubmit(){
                await axios.post('/api/reset', {
                    password: this.password,
                    password_confirm: this.password_confirm,
                    token: this.$route.params.token
                }).then(
                    res => {
                        console.log(res);
                        this.$router.push('/login');
                    }
                ).catch(
                    err => {
                        console.log(err);
                    }
                );

            }
        }
    }
</script>