<template>
    <div id="app">
        <Navbar />
        <div class="container" style="margin-top: 175px;">
            <router-view />
        </div>
    </div>
</template>

<script>
    import Navbar from '@/components/Navbar';
    import axios from "axios";

    export default {
        name: 'App',
        components: {
            Navbar,
        },
        data(){
            return {
                user: null
            }
        },
        async created(){
            const response = await axios.get('/api/user');
            await this.$store.dispatch('user', response.data.user);
        }
    }
</script>
